#Titip .Warna{
    /* Primary */
    color : #BB86FC;
    /* Primary Variant */
    color : #3700B3;
    /* Secondary */
    color : #03DAC6;
    /* Secondary Variant */
    color : #03DAC6;
    /* Background */
    color : #121212;
    /* Surface */
    color : #121212;
    /* Error */
    color : #CF6679;
    /* On Primary */
    color : #000000;
    /* On Secondary */
    color : #000000;
    /* On Background */
    color : #FFFFFF;
    /* On Primary */
    color : #FFFFFF;
    /* On Error */
    color: #000000;
}

body{
    background-color: #121212;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header{
    background-color: #7E28C9;
    border: 10px solid #7E28C9;
}

.judul{
    line-height: 10%;
}

header div h1{
    font-weight: 600;
}

header div h2{
    font-weight: 200;
    font-size: 10px
}


.InputBox{
    position: relative;
    width: 250px;
}

.DateBox{
    position: relative;
    width: 250px;
}

.InputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: #BB86FC;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 1em;
    transition: 0.5s;
}

.DateBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: #BB86FC;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
    transition: 0.5s;
}

.InputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    transition: 0.5s;
}

.InputBox input:valid ~ span,
.InputBox input:focus ~ span{
    color: aqua;
    transform: translateX(15px) translateY(-5px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #BB86FC;
    border-left: 1px solid aqua;
    border-right: 1px solid aqua;
    letter-spacing: 0.2em;
}

.InputBox input:valid,
.InputBox input:focus{
    border: 1px solid aqua;
}