.BreadCrum{
    padding-top: 10pt;
    padding-left: 50pt;
    margin-bottom: -50pt;
    font-size: 10pt;
    color: #FFFFFF;
    margin-top: 20pt;
    font-size: 12pt;
}

.BreadCrum a{
    font-size: 12pt;
    color: #FFFFFF;
}

.BreadCrum a:hover{
    padding: 5pt;
    font-size: 13pt;
    color: #121212;
    background-color: #FFFFFF;
}
header#DetailKonser{    
    background: #03DAC65F;
    padding-top: 8pt;
    text-align: right;
}
header h1{
    background-color: #03DAC63F;
    margin-top: -16pt;
    margin-bottom: -16pt;
    color: #000000;
    text-align: right;
    padding-right: 30pt;
    padding-top: 15pt;
    padding-bottom:10pt;
    word-spacing: 15pt;
}
header a{
    word-spacing: 0pt;
    color: #000000;
    text-decoration: underline;
}

header a.Pilihan:hover{
    word-spacing: 0pt;
    font-weight: 500;
    background-color: #121212;
    color: #FFFFFF;
    padding-top: 1pt;
    padding-bottom: 1pt;
    padding-right: 5pt;
    padding-left: 5pt;
    border-radius: 4pt;
}
body{
    margin: 0;
    background-color: #121212;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#PosterKonser{
    width: 500pt;
    text-align: center;
    vertical-align: middle;
    background-image: linear-gradient(#1212125F,#1212125F),url("Gambar/Konser 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 70pt;
    margin-left: 40pt;
    border-radius: 10pt;
    float: left; 
    position: absolute;
}
main.Detail{
    margin-left: 650pt;
    margin-top: 100pt;
    font-size: 20pt;
}
p.PilihanTanggal{
    margin-left: 100pt;
    margin-top: 100pt;
    font-size: 30pt;
    margin-bottom: 20pt;
}
#date{
    margin-top: 0pt;
    margin-left: 100pt;
    font-size: 30pt;
    font-family: 'Times New Roman', Times, serif;
}
p.JenisTiket{
    margin-left: 100pt;
    font-size: 30pt;
    margin-bottom: 0pt;
    margin-top: 30pt;
}
/* .dropdown-tiket{
    background-color: #FFFFFF;
    color: #1d275f;
    font-size: 30pt;
    margin-left: 100pt;
    font-family:'Times New Roman', Times, serif ;
    margin-top: 10pt;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #eae3e3;
    min-width: 100pt;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

} */

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 600px;
    font-size: 14px;
    margin-left: 100pt;
    margin-top: 10pt;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgb(28, 36, 48);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #BB86FC;
    font-weight: 600;
}